//==== COMMON ====
body {
  font-family: 'Ghothic A1', 'Arial';
  font-weight: 300;
}

.main-title {
  font-size: 55px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  
  @media (max-width: 690px) {
    color: #000000;
    font-size: 40px;
  }
}

.head-title {
  //max-width: 300px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 800px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 15px;
  
  @media (max-width: 690px) {
    color: #000000;
    font-size: 18px;
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 20px;
}


.text {
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.title {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 20px; 
  font-size: 20px;  
  line-height: 20px;
  text-transform: uppercase;

  &--point {
    border-top: 2px solid #000000;
    padding-top: 20px;
  }

  @media (max-width: 690px) {
    font-size: 18px;
  }
}

.link {
  color: #000000;
  font-style: italic;
  //text-decoration: none;
}
//==== /COMMON ====

//==== SECTION HEADER ====

.section-header {
  padding-top: 40px;
  display: flex;
  gap: 80px;

  @media (max-width: 690px) {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}

.photo {
  padding: 0;
  margin: 0;
  width: 280px;
  height: 350px;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  //margin-left: 80px; 
  max-width: 300px;
  
  &__title {
    //max-width: 300px;
    @media (max-width: 690px) {
      max-width: 280px;
    }
  }
  
  &__get-contacts {
    //max-width: 300px;
    padding-bottom: 15px;

    @media (max-width: 600px) {
      position: relative;
      left: -40px;
    }
  }
  
  @media (max-width: 690px) {
    min-width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    font-style: italic;

  }
}

.bg {
  width: 100%;
  min-height: 225px;
  background-color: #2251b2;
  border-bottom: 2px solid #000000;
  position: absolute;
  z-index: -10;
}
//==== / SECTION HEADER ====

//==== MAIN ====

.section-main {
  display: flex;
  gap: 80px;
  justify-content: space-between;

  &__left {
    width: 280px;
    flex-shrink: 0;
  }

  &__right {
    //margin-left: 80px;
    max-width: 540px;

    @media (max-width: 600px) {
      max-width: 280px;
    }
  }

  section {
    margin-bottom: 30px;
  }

  @media (max-width: 690px) {
    gap: 30px;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}

.skills-list {
  margin-top: 0;
  max-width: 100%;
}

.code-exemples {
  max-width: 100%;
}

code {
  margin-left: 0;
  max-width: 100%;
}
.code-ex {
  margin: 0;
  max-width: 100%;
  font-size: 12px;
  background-color: rgba(219, 219, 219, 0.205);
}

//==== / MAIN ====

//==== FOOTER ====

.section-footer {
  background-color: #2251b2;
  height: 100%;
  
  .wrapper {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      max-width: 300px;
    }
  }
  
  .year {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    padding: 0;
    margin: 0;
  }
}

//==== / FOOTER ====