html.light {
  --color-main: #141C3A;
  --bg-color: #F9FBFD;
  --text-color: #535E88;
  --accent: #50c095;
  --padd-s: 40px;
  --padd-xl: 120px;
  --border-color: #E5EBF2;
}

body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 10px;
}

.container--l {
  max-width: 1500px;
}

.title {
  margin: 0;
  padding-top: var(--padd-s);
  padding-bottom: var(--padd-s);
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: var(--color-main);
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid var(--border-color);
}

.title--min {
  text-align: center;
  margin: 0;
  text-transform: none;
  margin-bottom: 30px;
  border: none;
}

.header {
  border-bottom: 2px solid var(--border-color);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: var(--padd-s);
  padding-bottom: var(--padd-s);
}

.name {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: var(--color-main);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  cursor: pointer;
}

.nav__item + .nav__item {
  margin-left: 30px;
}

.nav__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #141C3A;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: var(--padd-xl);
  padding-bottom: var(--padd-xl);
}

.main-title {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-transform: capitalize;
  color: var(--color-main);
  text-align: center;
}

.text {
  margin: 0;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
}

.photo {
  margin: 0;
  margin-top: var(--padd-s);
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url(../img/IMG_20200711_223839.jpg);
  background-size: cover;
  background-position: 50% 40%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  position: relative;
}

.contacts__item + .contacts__item {
  margin-left: 40px;
}

.contacts__item:not(:first-of-type)::before {
  position: absolute;
  left: -20px;
  top: 15px;
  content: '';
  display: block;
  width: 1px;
  height: 27px;
  background-color: var(--border-color);
}

.contact__name {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-main);
}

.contact {
  margin: 0;
}

.info {
  background-color: var(--bg-color);
}

.info .container {
  padding-top: var(--padd-xl);
  padding-bottom: var(--padd-xl);
}

.info .container .text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.accent {
  color: var(--accent);
}

.skills .container--l {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 10px;
  list-style: none;
  margin: var(--padd-xl) auto;
  max-width: 1100px;
  row-gap: 20px;
}

.skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
  height: 65px;
  background-color: var(--accent);
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: var(--border-color);
  border-radius: 45px;
}

.exemple {
  background-color: var(--bg-color);
}

.exemple .container--l {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  padding-bottom: var(--padd-xl);
}

.exemple .text {
  margin: var(--padd-s) auto;
  text-align: left;
  max-width: 1100px;
  padding: 0 10px;
}

.code-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.projects .container--l {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.projects-container {
  margin: 0 auto;
  margin-top: var(--padd-s);
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project {
  position: relative;
  width: 80%;
  height: 480px;
}

.project:first-of-type {
  background-image: url(../img/museum.JPG);
  background-position: center;
  background-size: cover;
}

.project::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  opacity: 0.3;
  -webkit-filter: sepia(0.5);
          filter: sepia(0.5);
}

.stack {
  color: var(--accent);
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */